.verde{
    width: 100%;
    height: 70px;
    background-color: #27ae60;
}

.amarillo{
    width: 50%;
    height: 70px;
    background-color: #f1c40f;
}

.rojo{
    width: 50%;
    height: 70px;
    background-color: #e74c3c;
}

.azul{
    width: 50%;
    height: 70px;
    background-color: #2980b9;
}

.sct-contenedor{
    display: flex;
}